POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=docinspect

DATABASE_URL=postgres://your_username_here:your_secure_password_here@postgres:5432/docinspect
EXTRACTOR_URL=http://extractor:8000
PORT=3000
